
.App{
    padding: 0px 20px 0px 0px;
}
/*
SPLASH
*/

.splash{

}
.splash img{
    height: 100px;
}



/*
VIDEO PLAYER
*/
.player{
    width: 100%;
    height: 55%;
    background: #000;
}
.player video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player .ctrls{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    background: #5b585852;
    z-index: 9;
    padding:0px 15px;       
}
.player .ctrls .pp{
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #ea5252;
    color: #fff;
}
.player .ctrls .timer{
    flex:1;
    margin: 0px;
    text-align: center;
}
.player .ctrls .slider{
    flex:3;
}
.player .ctrls .slider .prog{
    width: 100%;
    height: 10px;
    background: #ffffff;
    border-radius: 10px;
}
.player .ctrls .slider .bar{
    width: 40%;
    height: 10px;
    background: #ea5252;
    border-radius: 10px;
}
.player .ctrls .slider .bar .knob{
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 10px;
    top:50%;
    right: 0px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 2px #000;

}
.player .ctrls .vol{
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #ea525200;
    color: #fff;
    margin: 0px 15px;
}
.player .ctrls .fs{
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #ea525200;
    color: #fff;
    margin: 0px 15px;
}




/*
SIDEBAR 
*/


.sidebar{
    width: 250px;
    
    
    
}
.sidebar .logo{

padding: 15px 30px;
}
.sidebar .logo img{
    height: 40px;
}


.sidebar .nav{padding: 50px 35px;}

.sidebar .nav li{
    padding: 0px;
    margin: 0px;
}
.sidebar .nav li a{
    padding: 15px 20px;
    margin-bottom: 7px;
    
}
.sidebar .nav li a.active,
.sidebar .nav li a.on{
border-left:2px #ea5252 solid;
color:#ea5252;
line-height: 1;
}
.sidebar .nav li a .ico{margin-right: 10px;}
.sidebar .nav li a .ico .lbl{}

.sidebar .updated-course{
    padding: 0px 30px;
    
}
.sidebar .updated-course .ico{
    font-size: 24px;
    background: #ea5252;
    padding: 10px;
    margin-right: 15px;
    border-radius: 15px;
}
.sidebar .updated-course .lbl{}
.sidebar .updated-course .lbl .author{}

.course-stats, .sidebar .stats{
    margin: 70px 0px;
    padding-left: 40px;
    align-items: center;
    
    
}
.course-stats .stats-box, .sidebar .stats .stats-box{
    flex-direction: column;
    width: 105px;
    
    
    }
.course-stats .stats-box .ico, .sidebar .stats .stats-box .ico{
    margin-bottom: 20px;
    
}
.sidebar .stats .stats-box .val{}
.sidebar .stats .stats-box .lbl{}
.course-stats .ico-fire,.sidebar .stats .stats-box .ico-fire{
    color: #ff0000;
}
.course-stats .ico-target, .sidebar .stats .stats-box .ico-target{
    color:rgb(6, 223, 6);
}
.course-stats .icon-checkbox-checked{
    color: #061de7;
}
.sidebar .me{
    padding: 20px 40px;
}
.sidebar .me .photo{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 15px;
    background: #eee;
}
.sidebar .me .photo img{
    width:100%;
    height:100%;
}
.sidebar .me .lbl{
    
}


.app-content{
    flex:2;
    padding: 20px 40px 20px 20px;
}

/*
HOME PAGE 
*/

.home-page{}
.home-page .section{}
.section .title{
    margin-bottom: 18px;
}
.section .tutors{}
.section .tutors img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.section .tutors .tutor{
    border:2px #ea5252 solid;
    background: #fff;
    width:70px;
    height: 70px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 47px;
    padding: 5px;
}
.section .tutors .tutor:hover{}



.section-b{
    margin-top: 50px;
}

.section-b .courses{}
.section-b .courses a{
    flex:1;
    margin-right: 30px;
}
.section-b .courses .block{
    /*width: 204px;*/
    height: 300px;
    background: #e2e2e2;
    border-radius: 18px;
    
}
.section-b .courses a:last-child{
    margin: auto;
}
.section-b .courses .block .user{
    padding: 15px;
    z-index: 1
}
.section-b .courses .block .user .pic{
    width: 35px;
    height: 35px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}
.section-b .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section-b .courses .block .user .meta .name{}
.section-b .courses .block .user .meta .uname{}

.section-b .courses .block .dura{
    background: #ea5252;
    border-radius: 9px;
    padding: 8px 15px;
    top: 75px;
    left: 25px;
    line-height: 1;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.53);
    z-index: 1;
}
.section-b .courses .block .course-title{
    bottom: 15px;
    right: 15px;
    left: 15px;
    background: rgba(0,0,0,0.80);
    padding: 10px 20px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
}
.top-tutors{
    flex-wrap: wrap;
}
.section .user-block{
    margin: 0px 25px 25px 0px;
}
.section .user-block .pic{
    width: 35px;
    height: 35px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}
.section .user-block img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .user-block .meta{}
.section .user-block .meta .name{}
.section .user-block .meta .uname{}

/*
HOME PAGE 
*/

.rightbar{
    padding: 20px 0px;
    flex: 1;
    
}

.rightbar .search-box{
    padding: 2px;
    margin:19px 0px;
}
.rightbar .search-box .qry{
    flex: 1 1;
    padding: 12px;
    border: 0px;
    background: #f1f1f1;
    margin-right: 10px;
    border-radius: 8px;
}
.rightbar .search-box .qry:focus{
    background: #c9c0c0;
}
.rightbar .search-box .go{
    border:0;
    background:#ea5252;
    padding:0px 20px;
    border-radius: 5px; 

}
.rightbar .search-box .go:hover{
    background: #c91111;
}
.rightbar .courses{
    flex-direction:column;
}
.rightbar .courses .cols{
    flex-direction:row;
}
.rightbar .course-a .block{
    width:100%;
    height:250px;
    margin-bottom: 20px;

}
.rightbar .courses .cols .block{
    width: auto;
    height: 270px;
    flex:1;
    
}
.rightbar .offer{
    background: #93fbff;
    height: 150px;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.rightbar .offer .meta{
    padding: 25px;
    margin-left: 6px;
    flex:1;
    z-index: 2;
    
}
.rightbar .offer .meta .h1{
    color: #ea5252;
}
.rightbar .offer .meta .h2{
    margin-top: 5px;
    color: #549ccc;
}
.rightbar .offer .meta button{
    background: #eee;
    border: 0;
    border-radius: 10px;
    padding: 14px 20px;
    margin-top:15px;
    box-shadow: 0px 2px 4px;
}
.rightbar .offer .meta button:hover{
    background: #ea5252;
    color: #eee;
}
.rightbar .offer .vector img{}
.rightbar .offer .vector {
    padding-top: 10px;
    width:132px;
    z-index: 2;
}
.rightbar .offer .ring{
    width: 100px;
    height: 100px;
    background: #33a2ae;
    border-radius: 100%;
    right: -108px;
    transform: translateY(-50%);
    top: 54%;
    border: 46px #54c6b6c2 solid;
}

/*
COURSE PREVIEW
*/

.course-page{}
.course-info{
    flex:1;
}
.course-page .tutor{}
.course-page .tutor .pic{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #eee;
    margin-right: 10px;
}
.course-page .tutor .pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.course-page .tutor .meta{}
.course-page .tutor .meta .name{}
.course-page .tutor .meta .uname{}
.course-page .course-meta{
    padding: 40px 0px;
}
.course-page .course-meta .title{
    font-weight: 600;
}
.course-page .course-meta .about{

}
.course-videos{
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px;
}
.course-videos a{
    flex-direction: row;
    margin: 10px 0px;
}
.course-videos a .id{
    background: #ea5252;
    width: 50px;
    height: 50px;
    border-radius: 11px;
    padding: 16px 20px;
    box-sizing: border-box;
    margin-right: 10px;
}
.course-videos a .meta{}
.course-videos a .meta .title{}
.course-videos a .meta .lbl{}
.course-videos a:hover{}

.course-preview{
    flex:2;
    margin-left:70px;
}


.extra-block{}
.chat{
    flex:1;
    margin-right: 50px;
}
.chat .masseges{
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 30px 0px;
}
.chat .masseges .bubble{
    align-self: flex-start;
    margin:7px 0px;
    width: 100%;
}
.chat .masseges .bubble-mine{
   text-align: right;
}
.chat .masseges .bubble-mine .txt{
    border-radius: 50px 50px 0px 50px !important;
    background: #272727 !important;
    color: #fff;
}

.chat .masseges .bubble .txt{
    background: #eee;
    line-height: 1;
    padding: 15px;
    border-radius: 30px 30px 30px 4px;
    
}




.now-watching{
    flex:1;
}
.now-watching .you-list{
    margin-top: 50  px;
}
.now-watching .you{
    margin-bottom: 30px;
}
.now-watching .you .meta{}
.now-watching .you .meta .name{}
.now-watching .you .meta .uname{}
.now-watching .you .pic{
    width: 60px;
    height: 60px;
    margin-right: 22px;
    background: #ddd;
    border-radius: 20px;
}
.now-watching .you .pic img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

