/*
SIDEBAR 
*/


.sidebar{
    width: 250px;
    flex:1;
    
    
}
.sidebar .logo{

padding: 15px 30px;
}
.sidebar .logo img{
    height: 40px;
}


.sidebar .nav{padding: 50px 35px;}

.sidebar .nav li{
    padding: 0px;
    margin: 0px;
}
.sidebar .nav li a{
    padding: 15px 20px;
    margin-bottom: 7px;
    
}
.sidebar .nav li a.on{
border-left:2px #ea5252 solid;
color:#ea5252;
line-height: 1;
}
.sidebar .nav li a .ico{margin-right: 10px;}
.sidebar .nav li a .ico .lbl{}

.sidebar .updated-course{
    padding: 0px 30px;
    
}
.sidebar .updated-course .ico{
    font-size: 24px;
    background: #ea5252;
    padding: 10px;
    margin-right: 15px;
    border-radius: 15px;
}
.sidebar .updated-course .lbl{}
.sidebar .updated-course .lbl .author{}

.sidebar .stats{
    margin: 70px 0px;
    padding-left: 40px;
    align-items: center;
    
    
}
.sidebar .stats .stats-box{
    flex-direction: column;
    width: 105px;
    
    
    }
.sidebar .stats .stats-box .ico{
    margin-bottom: 20px;
    
}
.sidebar .stats .stats-box .val{}
.sidebar .stats .stats-box .lbl{}
.sidebar .stats .stats-box .ico-fire{
    color: #ff0000;
}
.sidebar .stats .stats-box .ico-target{
    color:rgb(6, 223, 6);
}
.sidebar .me{
    padding: 20px 40px;
}
.sidebar .me .photo{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 15px;
    background: #eee;
}
.sidebar .me .photo img{
    width:100%;
    height:100%;
}
.sidebar .me .lbl{
    
}


.app-content{
    flex:2;
    padding: 20px 0px;
}

/*
HOME PAGE 
*/

.home-page{}
.home-page .section{}
.home-page .section .title{
    margin-bottom: 18px;
}
.home-page .section .tutors{}
.home-page .section .tutors img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.home-page .section .tutors .tutor{
    border:2px #ea5252 solid;
    background: #fff;
    width:70px;
    height: 70px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 47px;
    padding: 5px;
}
.home-page .section .tutors .tutor:hover{}



.home-page .section-b{
    margin-top: 50px;
}

.home-page .section-b .courses{}
.home-page .section-b .courses a{}
.home-page .section-b .courses .block{
    width: 204px;
    height: 300px;
    background: #e2e2e2;
    border-radius: 18px;
    margin-right: 30px;
}
.home-page .section-b .courses .block .user{
    padding: 15px;
    z-index: 1
}
.home-page .section-b .courses .block .user .pic{
    width: 35px;
    height: 35px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}
.home-page .section-b .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home-page .section-b .courses .block .user .meta .name{}
.home-page .section-b .courses .block .user .meta .uname{}

.home-page .section-b .courses .block .dura{
    background: #ea5252;
    border-radius: 9px;
    padding: 8px 15px;
    top: 75px;
    left: 25px;
    line-height: 1;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.53);
    z-index: 1;
}
.home-page .section-b .courses .block .course-title{
    bottom: 15px;
    right: 15px;
    left: 15px;
    background: rgba(0,0,0,0.80);
    padding: 10px 20px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
}