
.App{
    padding: 0px 20px 0px 0px;
}
/*
SIDEBAR 
*/


.sidebar{
    width: 250px;
    flex:1;
    
    
}
.sidebar .logo{

padding: 15px 30px;
}
.sidebar .logo img{
    height: 40px;
}


.sidebar .nav{padding: 50px 35px;}

.sidebar .nav li{
    padding: 0px;
    margin: 0px;
}
.sidebar .nav li a{
    padding: 15px 20px;
    margin-bottom: 7px;
    
}
.sidebar .nav li a.on{
border-left:2px #ea5252 solid;
color:#ea5252;
line-height: 1;
}
.sidebar .nav li a .ico{margin-right: 10px;}
.sidebar .nav li a .ico .lbl{}

.sidebar .updated-course{
    padding: 0px 30px;
    
}
.sidebar .updated-course .ico{
    font-size: 24px;
    background: #ea5252;
    padding: 10px;
    margin-right: 15px;
    border-radius: 15px;
}
.sidebar .updated-course .lbl{}
.sidebar .updated-course .lbl .author{}

.sidebar .stats{
    margin: 70px 0px;
    padding-left: 40px;
    align-items: center;
    
    
}
.sidebar .stats .stats-box{
    flex-direction: column;
    width: 105px;
    
    
    }
.sidebar .stats .stats-box .ico{
    margin-bottom: 20px;
    
}
.sidebar .stats .stats-box .val{}
.sidebar .stats .stats-box .lbl{}
.sidebar .stats .stats-box .ico-fire{
    color: #ff0000;
}
.sidebar .stats .stats-box .ico-target{
    color:rgb(6, 223, 6);
}
.sidebar .me{
    padding: 20px 40px;
}
.sidebar .me .photo{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 15px;
    background: #eee;
}
.sidebar .me .photo img{
    width:100%;
    height:100%;
}
.sidebar .me .lbl{
    
}


.app-content{
    flex:2;
    padding: 20px 40px 20px 20px;
}

/*
HOME PAGE 
*/

.home-page{}
.home-page .section{}
.section .title{
    margin-bottom: 18px;
}
.section .tutors{}
.section .tutors img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.section .tutors .tutor{
    border:2px #ea5252 solid;
    background: #fff;
    width:70px;
    height: 70px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 47px;
    padding: 5px;
}
.section .tutors .tutor:hover{}



.section-b{
    margin-top: 50px;
}

.section-b .courses{}
.section-b .courses a{
    flex:1;
    margin-right: 30px;
}
.section-b .courses .block{
    /*width: 204px;*/
    height: 300px;
    background: #e2e2e2;
    border-radius: 18px;
    
}
.section-b .courses a:last-child{
    margin: auto;
}
.section-b .courses .block .user{
    padding: 15px;
    z-index: 1
}
.section-b .courses .block .user .pic{
    width: 35px;
    height: 35px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}
.section-b .courses .block .user .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section-b .courses .block .user .meta .name{}
.section-b .courses .block .user .meta .uname{}

.section-b .courses .block .dura{
    background: #ea5252;
    border-radius: 9px;
    padding: 8px 15px;
    top: 75px;
    left: 25px;
    line-height: 1;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.53);
    z-index: 1;
}
.section-b .courses .block .course-title{
    bottom: 15px;
    right: 15px;
    left: 15px;
    background: rgba(0,0,0,0.80);
    padding: 10px 20px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px #000;
}
.top-tutors{
    flex-wrap: wrap;
}
.section .user-block{
    margin: 0px 25px 25px 0px;
}
.section .user-block .pic{
    width: 35px;
    height: 35px;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}
.section .user-block img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section .user-block .meta{}
.section .user-block .meta .name{}
.section .user-block .meta .uname{}

/*
HOME PAGE 
*/

.rightbar{
    padding: 20px 0px;
    flex: 1;
    
}

.rightbar .search-box{
    padding: 2px;
    margin:19px 0px;
}
.rightbar .search-box .qry{
    flex: 1 1;
    padding: 12px;
    border: 0px;
    background: #f1f1f1;
    margin-right: 10px;
    border-radius: 8px;
}
.rightbar .search-box .qry:focus{
    background: #c9c0c0;
}
.rightbar .search-box .go{
    border:0;
    background:#ea5252;
    padding:0px 20px;
    border-radius: 5px; 

}
.rightbar .search-box .go:hover{
    background: #c91111;
}
.rightbar .courses{
    flex-direction:column;
}
.rightbar .courses .cols{
    flex-direction:row;
}
.rightbar .course-a .block{
    width:100%;
    height:250px;
    margin-bottom: 20px;

}
.rightbar .courses .cols .block{
    width: auto;
    height: 270px;
    flex:1;
    
}
.rightbar .offer{
    background: #93fbff;
    height: 150px;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.rightbar .offer .meta{
    padding: 25px;
    margin-left: 6px;
    flex:1;
    z-index: 2;
    
}
.rightbar .offer .meta .h1{
    color: #ea5252;
}
.rightbar .offer .meta .h2{
    margin-top: 5px;
    color: #549ccc;
}
.rightbar .offer .meta button{
    background: #eee;
    border: 0;
    border-radius: 10px;
    padding: 14px 20px;
    margin-top:15px;
    box-shadow: 0px 2px 4px;
}
.rightbar .offer .meta button:hover{
    background: #ea5252;
    color: #eee;
}
.rightbar .offer .vector img{}
.rightbar .offer .vector {
    padding-top: 10px;
    width:132px;
    z-index: 2;
}
.rightbar .offer .ring{
    width: 100px;
    height: 100px;
    background: #33a2ae;
    border-radius: 100%;
    right: -108px;
    transform: translateY(-50%);
    top: 54%;
    border: 46px #54c6b6c2 solid;
}