body{
    margin: 0px;
    padding: 0px;   
}
ul,ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}
button{
    outline:none;
    cursor: pointer; 
}
select,textarea,input{
    outline: none;
}
.fixed{
    position: fixed;
}
.flex{
    display: flex;
}
.abs{position: absolute;}
.rel{position: relative;}
.aic{align-items: center;}
.jic{justify-content: center;}
.bl{
    display: block;
}
.noul{
    text-decoration: none;
}
.cfff{color: #fff;}
.c333{color: #333;}
.c777{color: #777}
.s13{font-size:13px}
.s15{font-size:15px}
.s20{font-size:20px}
.s24{font-size: 24px;}
.fontb{font-weight: bold;}
.fontn{font-weight: normal;}
